<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<center><h1>Consumer Disputed Predictor </h1></center>
	<div class="container">
        <center>
            <p>Use this tool to predict whether a consumer will dispute a complaint based on various factors such as response time, company action, and issue type.</p>
        </center>
    </div>

    <div class="card">
        <form action="{{url_for('predict_datapoint')}}" method="post">
                    
            <div class="form-group">
                <label for="Date">Date Received</label>
                <input type="date" id="Date" name="Date_Received" placeholder="11-02-2022" required>
            </div>

            <div class="form-group">
                <label for="Product Name">Product Name:</label>
                <input type="text" placeholder="Product Name" id="Product Name" name="Product_Name" required>
            </div>

            <div class="form-group">
                <label for="Provide Issue Detail">Provide Issue Detail</label>
                <input type="text" placeholder="Provide Issue Detail" id="Provide Issue Detail" name="Issue_Detail" required>
            </div>

            <div class="form-group">
                <label for="Submitting Via">Submitted Via</label>
                <select id="Submitting Via"  name="Submitted_Via">
                    <option value="Email">Email</option>
                    <option value="Web">Web</option>
                    <option value="Phone">Phone</option>
                    <option value="Postal mail">Postal mail</option>
                    <option value="Referral">Referral</option>
                    <option value="Fax">Fax</option>
                </select>
            </div>

            <div class="form-group">
                    <label for="Date">Date sent to company</label>
                    <input type="date" id="Date" name="Date_sent_to_company" required>
            </div>

            <div class="form-group">
                <label for="text">Company response</label>
                <select id="Company Responce"  name="Company_Response",required>
                    <option value="Closed with explanation">Closed with explanation</option>
                    <option value="Closed with non-monetary relief">Closed with non-monetary relief</option>
                    <option value="Closed with monetary relief">Closed with monetary relief</option>
                    <option value="Closed without relief">Closed without relief</option>
                    <option value="Closed">Closed</option>
                    <option value="Closed with relief">Closed with relief</option>
                </select>
            </div>

                <div class="form-group">
                    <label for="Timely Response">Timely Response</label>
                    <select id="Timely Response"  name="Timely_Response",required>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <!-- <h2>{{result}}</h2> -->
                <button type="submit" class="submit-button" value="Submit">Submit</button> 
        </form>
    </div>
    <div class="result">The prediction is: {{result}}</div>
</body>
</html>